body{
    margin:0px;
}

.header{
    height:200px;
    width:100%;
    background-color:red;
}

.link{
    height:75px;
    width:100%;
    background-color:maroon;
    font-size:20px;
    text-align:center;
}

.content{
    height:600px;
    width:100%;
    background-color:white;
}

.footer{
    height:300px;
    width:100%;
    background-color:darkgrey;
}

a{
    width:150px;
    height:50px;
    color:white;
    background-color:maroon;
    padding: 10px 25px 10px 25px;
    margin: 10px 65px 10px 65px;
}

a:hover{
    width:150px;
    height:50px;
    color:maroon;
    background-color:white;
    padding: 10px 25px 10px 25px;
    margin: 10px 65px 10px 65px;
}

.header > img{
    height:200px;
    width:275px;
    float:left;
}

.header > h1{
    font-family: monospace;
    font-size:100px;
    color:white;
    margin:0px;
    padding:0px;
    padding-left:20px;
}

.footer > img{
    height:75px;
    width:75px;
    margin:50px;
    text-align:center;
}

.footer > h1{
    color:black;
    text-align:center;
    font-size:40px;
}

#rectangle{
    height:75px;
    width:115px;
}

iframe{
    width:40%;
    height:240px;
}

.content > img{
    margin:20px;
    filter:grayscale(100%);
    transition: filter 1s;
}

.content > img:hover{
    filter:grayscale(0%);
    visibility: visible;
}

.caption{
    visibility: hidden;
    transition: visibility 1s;
    font-size:20px;

}

.caption:hover{
    visibility: visible;
}

#clothes{
    width:100px;
    height:100px;
}
